body{
    margin:0;
    background-color:#fafbfc;
    user-select: none;
    font-family:Calibri;
}
#main{
    height:100%;
    width:100%;
    display:table;
    
}
#choosedata{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    
}
#choosedatabtn{
    
    overflow:visible;
    outline:none;
    cursor:pointer;
    padding:0;
    position:relative;
    display:inline-block;
    border:1px solid #666;
    border-radius:5px;
    background-color:white;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
    transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#choosedatabtn:hover{
    transform:scale(1.5,1.5);
}
#choosedatabtn.active{
    transform:scale(1.5,1.5);
}
#choosedatabtn::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    opacity:0;
    transition:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#choosedatabtn:hover::after{
    opacity:1;
}
#choosedatabtn:focus{
    padding-right:1px;
    padding-left:1px;
    cursor: default;;
    transform:scale(1.5,1.5);
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}
#choosedatabtn:focus::after{
    opacity:0;
}

#choosedatahead{
    padding:10px;
    font-family:Verdana,sans-serif;
    font-size:15px;
}

.dataoptioncont{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow:hidden;
    width:calc(102% );
    margin-left:-1%;
    margin-bottom:-1px;
    
}

.dataoption{
    font-family:Verdana,sans-serif;
    font-size:13px;
    text-align:center;
    color:white;
    line-height: 40px;
    margin-left:-1px;
    margin-right:-1px;
    cursor:pointer;
    border-top:1px solid #ccc;
    background-color:#00bb00;
    transition:background-color 0.15s ease-out;
}

.dataoption:hover{
    background-color:#40cc40;
}

#dataoptionexpand{
    font-family:Verdana,sans-serif;
    text-align:center;
    user-select: none;
    cursor:default;
    color:white;
    background-color:#40cc40;
    z-index:1;
}

#loading-text{
    position:absolute;
    text-align: center;
    width:100%;
    bottom:40px;
    font-family:'Calibri', Times, serif;
    font-size:30px;
    color:white;
}

#loading-bar{
    position: absolute;
    text-align:center;
    width:100%;
    bottom:90px;
}

.loading-segment{
    width:50px;
    height:12px;
    background:rgba(0,0,0,0.4);
    display:inline-block;
    margin:0px 10px 0px 10px;
    border-radius:2px;
    transition:background-color 0.2s ease;
}

#dragbox{
    pointer-events: none;
    position: absolute;
    border:1px solid #666;
    /*background-color:rgba(0,0,0,0.2);*/
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    overflow:hidden;
    display:none;
    z-index:1000;
}

#worldmap{
    background:lightcyan;
    width:902px;
    height:618px;
}

#worldmap-object{
    width:100%;
    height:100%;
}


#graph-container{
    text-align:left;
}

.graph{
    background-color:white;
    margin:8px;
    width:300px;
    height:300px;
    border:1px solid #ccc;
    position: relative;
    border-radius:8px;
    float:left;
}

#wrapper{
    height:200px;
    transform:perspective(200px) rotateY(20deg);
}

#thumbnail{
    height:200px;
    width:200px;
    position:absolute;
    
}

.graph-circle{
    border-radius:50%;
    width:6px;
    height:6px;
    position:absolute;
    display:inline-block;
    background-color:rgba(0,0,0,0.25);
    margin-left:-3.5px;
    margin-top:-4px;
    transition:all 0.2s ease;
    transform-origin:50% 50%;
    border:1px solid transparent;
}

.graph-circle:hover{
    background-color:#40cc40;
    cursor: pointer;
}

.graph-circle.enabled{
    background-color:#5d9cec;
    z-index:1;
    border:1px solid black;
}

.graph-circle.enabled:hover{
    z-index:2;
    background-color:#4b91ea;
}

.graph-circle .tooltip{
    font-size: 12px;
    padding:2px;
    pointer-events: none;
    opacity:0;
    background-color:rgba(255,255,255,0.8);
    color:black;
    border:1px solid #ccc;
    border-radius:2px;
    position: absolute;
    bottom:calc(100% + 8px);
    z-index:2;
}

.graph-circle:hover .tooltip{
    transition:opacity 0.2s ease 1s;
    opacity:1;
}

.axisnumber{
    position:absolute;
    font-size:8px;
}

#history{
    position:absolute;
    height:178px;
    width:100%;
    top:calc(50% - 160px);
}

#userhistory{
    position:absolute;
    height:178px;
    width:100%;
    top:calc(50% - 160px);
    display:none;
}

.history-element{
    height:232px;
    width:360px;
    
    top:30px;
    left:30px;
    position:absolute;
    border-radius: 8px;
    background:rgba(0,0,0,0.5);
    cursor:pointer;
    transition:border-color 0.2s ease;
}



.history-image{
    border:1px solid #999;
    border-radius:8px;
    height:100%;
    width:100%;
}

.history-image:hover{
    border-color:#24b145;
}

.history-image:hover + .history-buttonbar{
    opacity:1;
}
.history-image.commented{
    border:1px solid #1aacda;
}

.history-image.important{
    border:1px solid #f05050;
}



.history-previous{
    height:116px;
    width:180px;
    position:absolute;
    bottom:calc(100% + 50px);
    left:90px;
    text-align:center;
    
}

.history-previous .fa-arrow-down{
    color:white;
    margin-top:16px;
    cursor:default;
}

.history-previous-image{
    height:100%;
    width:100%;
    border:1px solid #999;
    border-radius:8px;
    background:rgba(0,0,0,0.5);
}

.history-previous-image:hover{
    border-color:#24b145;
}

.history-info{
    position:absolute;
    top:calc(100% + 20%);
}

.buttonmenu-bottom-right{
    position:fixed;
    bottom:0;
    right:0;
    border-radius:4px 0 0 0;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    z-index:1;
}

.buttonmenu-bottom-left{
    position:fixed;
    bottom:0;
    left:0;
    border-radius:0 4px 0 0;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    z-index:1;
}

.iconbutton{
    padding:0;
    width:30px;
    height:30px;
    border-radius:3px;
    margin:8px;
    cursor: pointer;
    font-size:1em;
}

.iconbutton:active{
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

.iconbutton:focus{
    outline:0;
}

.color-history{
    background:#f05050;
    border: 1px solid #f04b4b;
    color:white;
}

.color-panels{
    background:#23b7e5;
    border: 1px solid rgb(88, 153, 235);
    color:white;
}

.color-social{
    background:#27c24c;
    border: 1px solid #26be4a;
    color:white;
}

.color-options{
    background:white;
    border: 1px solid #eaeaea;
    color:black;
}

.color-selectors{
    background:#eee;
    border:1px solid #d1d1d1;
}

.iconbutton.color-selectors:hover{
    background:#8ddaf2;
    border: 1px solid #a4c8f4;
}

.iconbutton.color-selectors.selected:hover{
    background:#1aacda;
    border: 1px solid #5899eb;
}

.color-selectors.selected{
    background:#23b7e5;
    border: 1px solid #5899eb;
    color:white;
}

.iconbutton.color-history:hover,.iconbutton.color-history:focus{
    background:#ee3d3d;
}

.iconbutton.color-panels:hover,.iconbutton.color-panels:focus{
    background:#1aacda;
}

.iconbutton.color-social:hover,.iconbutton.color-social:focus{
    background:#24b145;
}

.iconbutton.color-options:hover,.iconbutton.color-options:focus{
    background:#f5f5f5;
}

.menuoverlay{
    position:absolute;
    white-space: nowrap;
    height:calc(100% - 29px);
    left:0;
    width:100%;
    
    overflow-y:visible;
    /*border-radius:8px;*/
}

.bordercolor-history{
    border-color:#ee3d3d;
}

.bordercolor-panels{
    border:2px solid #1aacda;
}

.bordercolor-social{
    border:2px solid #24b145;
}

.bordercolor-options{
    border:2px solid black;
}

.overlay-header{
    width:100%;
    text-align:center;
    border:none;
    font-size:24px;
    text-transform:capitalize;
    transition:all 0.5s ease;
}

.menucontent{
    
    width:100%;
    height:100%;
    display:none;
}

.menucontent.panels{
    overflow-y:auto;
    overflow-x:hidden;
    white-space: normal;
}


.menucontent.visible{
    display:inline-block;
}

.preview-panel{
    width:200px;
    height:200px;
    margin:18px;
    border-radius:8px;
    background-color:white;
    border:1px solid #ccc;
    float:left;
}

.preview-panel:hover{
    background-color:#aaeeba;
}

.preview-panel.active{
    background-color:#26be4a;
}

.preview-panel.active:hover{
    background-color:#26be4a;
}

#menucontainer{
    display:none;
    position:fixed;
    background-color:rgba(0,0,0,0.8);
    width:100%;
    height:80%;
    top:10%;
    overflow:hidden;
    z-index:1000;
}

.close-icon{
    position:absolute;
    bottom:100%;
    right:0;
    height:29px;
    margin-right:5px;
    opacity:0.5;
    color:#000;
    cursor:pointer;
    background:none;
    border:none;
}
.close-icon:hover{
    opacity:1;
}



.history-buttonbar{
    position:absolute;
    top:0;
    right:0;
    border-radius:0 8px 0 0;
    overflow:hidden;
    opacity:0;
}

.history-buttonbar:hover{
    opacity:1;
}

.history-buttonbar button{
    float:right;
    background:transparent;
    border:none;
    color:rgba(255,255,255,0.5);
    width:30px;
    height:30px;
    transition:color 0.2s ease;
    padding:0;
    cursor:pointer;
    font-size:16px;
}

.history-important-button.enabled{
    color:#ee3d3d;
}

.history-important-button:hover{
    color:#ee3d3d;
}

.history-comment-button:hover{
    color:#1aacda;
}

.history-comment-button.enabled{
    color:#1aacda;
}

.history-note{
    position:absolute;
    top:100%;
    left:0;
    color:white;
    margin:10px;
    width:calc(100% - 40px);
    cursor:default;
}

.history-note textarea{
    width:100%;
    background:rgba(0,0,0,0.5);
    color:white;
    resize:none;
    font-family:Calibri;
    font-size:16px;
    border:none;
    margin:-2px 0 0 -2px;
}

.history-note:hover > .top-right-edit-button{
    opacity:1;
}

.history-note textarea:focus + .top-right-edit-button{
    opacity:1;
    color:white;
}

.top-right-edit-button{
    position: absolute;
    top:-4px;
    left:100%;
    background:none;
    border:none;
    font-size:12px;
    cursor:pointer;
    opacity:0;
    padding:8px;
    color:rgba(255,255,255,0.5);
    transition:color 0.2s ease;
}

.top-right-edit-button:hover{
    color:white;
}

.options-container{
    float:left;
    width:100%;
    text-align: center;
}

.option-box{
    display:block;
    color:rgba(255,255,255,0.8);
}

.v1,.v2,.h1,.h2{
    pointer-events: all;
    position:fixed;
    display:block;
}
.v1,.v2{
    cursor:ew-resize;
    width:0;
    padding-left:10px;
    margin-left:-5px;
}
.h1,.h2{
    cursor:ns-resize;
    height:0;
    padding-top:10px;
    margin-top:-5px;
}

.boxselector{
    position:fixed;
    border:5px solid;
    pointer-events:none;
}

.red-border{
    border:1px solid #f05050;
}

.history-filter-area{
    font-size:12px;
    font-style:italic;
    color:white;
    position:absolute;
    right:0px;
    top:0px;
    border:1px solid #666;
}